<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">My Portfolio</div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/aboutme">About</a></li>  
                <li><a href="/achievements">Achievements</a></li>
                <li><a href="/contact">Contact </a></li>
                <li><a href="/feedback" >Feedback </a></li>
                <li><a href="/login">Login</a></li>
               
            </ul>
        </nav>
    </header>


    <main>
        <div class="body">
            <h1>Muhamed Karabagli</h1>
            <h3>Welcome to my portfolio</h3>
        </div>

    
    </main>
</body>
</html>
